<p>Psst!</p>

<p>Your Swapthing partner would like you add some items to your wishlist.</p>

<p>Click on the link below to log in to your Swap Thing account and click <strong>My Wishlist > Add Item</strong> to get started.</p>

<p><%= link_to "Login to Swapthing", root_url %></p>
