<ul>
  <% @participants.each do |participant| %>
  <li><%= participant.email %></li>
  <% end %>
</ul>
<%= simple_form_for :partnerships, method: :post do |f| %>
<%= f.submit 'Assign Partners' %>
<% end %>