<div class='three columns card'>
  <%= link_to new_event_invite_path(event) do %>
    <div class='primary'>
      <span class='no_image'><%= content_tag(:i, nil, class: 'fa fa-plus-circle fa-10x') %></span>
    </div>
    <div class='secondary'>
      <span>Invite Users</span>
      <p class='hint center'>Invite people to your event.</p>
    </div>
  <% end %>
</div>