<h3>Your Partner</h3>
<table class='u-full-width'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wishlist</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= partner.full_name %></td>
      <td>
        <%= partner.wishlist ? (link_to 'Wishlist', wishlist_path(partner.wishlist)) : 'Not Ready' %>
      </td>
    </tr>
  </tbody>
</table>