<div class='three columns card'>
  <%= link_to event_partnerships_path(event_id: @event.id), method: :post do %>
    <div class='primary'>
      <span class='no_image'><%= content_tag(:i, nil, class: 'fa fa-random fa-10x') %></span>
    </div>
    <div class='secondary'>
      <span><%= @event.show_assign_or_reassign %></span>
      <p class='hint center'>Randomly assign partners for participants that have prepared wishlists.</p>
    </div>
  <% end %>
</div>