html, body {
  background-color: $background_color;
  color: $body_color;
  height: 100%;
}

.container {
  padding: 0 20px;
  height: 100%;
  width: 100%;
}

input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='number'] {
  width: 400px;
  height: 3em;
  border-radius: 3px;
}

h2 {
  color: $accent_color;
}

textarea {
  height: 150px;
  width: 400px;
}

a {
  color: $action_primary;
}

a:hover {
  color: #0fd581;
}

.navbar-spacer {
  height: 4rem;
  width: 100%;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: $body_color;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .3rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4rem;
  color: #fff;
}

.navbar-link:hover {
  color: $action_secondary;
}

.navbar-menu {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .3rem;
  margin-right: 35px;
  line-height: 4rem;
  display: none;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  width: 100%;
  background-color: $action-primary;
  margin: 0;
}

.mobile-menu li {
  border-bottom: 1px solid $action-secondary;
  list-style: none;
  margin-bottom: 0;
}

.mobile-menu a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .3rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4rem;
  color: #fff;
  margin-left: 2em;
}

.st-wrapper {
  transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transform: translateY(-164px);
  -webkit-transform: translateY(-164px);
}

.st-wrapper.with-top-menu {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

table a {
  text-decoration: none;
}

.new-invite {
  padding-top: 2rem;
}

.new-invite div input[type='email'] {
  width: 400px;
}

.new-invite div {
  display: inline-block;
}

.event-details div {
  margin-bottom: 3rem;
}

.tabled_view {
  display: block;
  width: 100%;
  max-width: 675px;
}

.tabled_view table {
  width: 100%;
}

.field_with_errors {
  margin-bottom: 1em;
}

.field_with_errors span {
  color: $error_red;
}

.flash-message {
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #ccc;
  margin:0;
  padding: 2px 0 0 0;;
  position: fixed;
  height: 38px;
  width: 100%;
  z-index: 9999;
  top: 0;
  -webkit-box-shadow:0 0 10px 0 black;
     -moz-box-shadow:0 0 10px 0 black;
          box-shadow:0 0 10px 0 black;
  filter: alpha(opacity=90);
}

.notice-top {
  @extend .flash-message;
  background-color: $action_primary;
}

.error-top {
  @extend .flash-message;
  background-color: $error_red;
}

.left {
  text-align: left;
  margin-top: 20px;
}

@media (max-width: 505px) {
  .navbar-item, .navbar-link {
    display: none;
  }

  .navbar-menu {
    display: inline-block;
  }

  body .fields_container form > div:last-of-type {
    width: 100%;
    display: block;
  }

  body .form_container .fields_container input[type=submit] {
    display: block;
    float: none;
    width: 100%;
  }

  body .sign_in_container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  body .sign_in {
    padding: 40% 0;
    width: 80%;
    height: auto;
  }

  .columns {
    width: 100%;
  }
}

@media (min-width: 505px) {
  .st-wrapper {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .mobile-menu {
    display: none;
  }

  .column, .columns {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  label {
    display: inline-block;
    width: 20%;
    text-align: left;
    vertical-align: top;
    margin-right: 20px;
  }

  .fields_container input:not([type=submit]), textarea {
    display: inline-block;
    width: 75% !important;
  }

  .fields_container input[type=submit] {
    margin-right: 1.5%;
  }
}

@media (min-width: 938px) {
  .three.column.event_details, .three.columns.event_details {
    width: 45%;
  }
}

@media (max-width: 629px) {
  .three.column, .three.columns {
    width: 100%;
  }

  .three.column.event_details, .three.columns.event_details {
    width: 100%;
  }

  body .flash-message {
    min-height: 38px;
    height: auto;
  }
}

@media (max-width: 937px) and (min-width: 630px) {
  .three.column, .three.columns {
    width: 45%;
  }
}

@media (max-width: 1220px) and (min-width: 938px) {
  .three.column, .three.columns {
    width: 30%;
  }

}
