.card {
  font-family: 'Lato',sans-serif;
  display: inline-block;
  width: 100%;
  min-width: 265px;
  height: 400px;
  background: #fcfcfc;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin: 15px 30px 15px 0;
}

.card > a {
  color: $action_primary;
  text-decoration: none;
}

.card .right_icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card .left_icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.long {
  height: auto;
  overflow: visible;
}

.primary {
  text-align: center;
  vertical-align: middle;
  height: 240px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.primary i {
  position: relative;
  top: 20%;
}

.primary .image img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fa-10x {
  font-size: 10em !important;
}

.primary .event_name {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.1em;
  margin: 15px;
}

.primary i fa-10x {
  line-height: 1.6;
}

.product_price {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  color: $off_white_color;
  font-size: 20px;
  font-weight: 700;
  background: rgba(94, 98, 108, .2);
  padding: 5px;
  border-top-left-radius: 4px;
}

.secondary {
  margin-top: $medium_spacing;
  padding: $small_spacing;
  text-align: center;
}

.secondary i {
  position: absolute;
  bottom: 2px;
}

.product_source, .product_name {
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 10px;
}

.product_source {
  color: #444;
  font-size: 15px;
}

.product_name {
  color: $body_color;
  font-size: 20px;
}

.product_notes, .hint {
  color: #777;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.3em;
  font-size: 13px;
}

.purchased {
  text-decoration: line-through;
  color: $error_red;
}

.center {
  text-align: center;
  margin-top: -30px;
}

.edit_wishlist_item {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.secondary p:first-of-type {
  font-color: #444;
  font-size: 1.5em;
  text-transform: uppercase;
}

.pending {
  color: $accent_color;
}
