#events a {
  text-decoration: none;
}

.event_details {
  height: 450px;
  text-align: center;
  color: $background_color;
  min-width: 265px;
  margin: 0 15px 0 0;
}

.event_details i {
  width: 80%;
  color: $background_color;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $background_color;
}

.ev_desc {
  background-color: $action_secondary;
}

.ev_desc div {
  font-weight: 100;
  padding: 15px;
}

.ev_date {
  background-color: $action_primary;
}

.ev_date div {
  padding-top: 75px;
  position: relative;
  vertical-align: middle;
  font-size: 3em;
}

.ev_max div {
  padding-top: 75px;
  font-size: 3em;  
}

.ev_max {
  background-color: $accent_color;
}

.ev_users {
  position: relative;
  background-color: $body_color;
}

.ev_users a {
  text-decoration: none;
}

.ev_users .partner_info {
  margin-top: 50px;
}

.ev_users .partner_info p:first-of-type {
  font-size: 3em;
}

.ev_users .partner_info:before {
  position: relative;
  content: 'Your Partner Is';
  font-weight: 100;
}