#events {
  @media (max-width: 629px) {
    text-align: center;
  }
}

.events {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 629px) {
    justify-content: center;
  }
}

#events a {
  text-decoration: none;
}

.event {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  @media (max-width: 629px) {
    margin-right: 0;
  }
}

.event_details {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 629px) {
    justify-content: center;
  }
}

.event_details_card {
  color: $body_color;
  width: 22%;
  margin: 5px;
  border: 1px solid $border_color;
  border-radius: 4px;
  background: white;

  @media (max-width: 629px) {
    margin-bottom: 15px;
    width: 80%;
  }
}

.event_details i {
  width: 80%;
  color: $background_color;
  padding: 40px 0;
}

.event_details_icon {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.ev_desc .event_details_icon {
  background-color: $action_secondary;
}

.ev_date .event_details_icon {
  background-color: $action_primary;
}

.ev_max .event_details_icon {
  background-color: $accent_color;
}

.ev_users .event_details_icon {
  position: relative;
  background-color: $body_color;
}

.ev_users a {
  text-decoration: none;
}

.ev_users .partner_info {
  margin-top: 50px;
}

.ev_users .partner_info p:first-of-type {
  font-size: 3em;
}

.ev_users .partner_info:before {
  position: relative;
  content: 'Your Partner Is';
  font-weight: 100;
}

.partner_info button a {
  color: $background_color;
}

.title {
  font-weight: bold;
  margin-bottom: .5em;
}

.event_details_info {
  padding: 5px 10px;

  .partner {
    margin-bottom: .5em;
  }

  .partner-wishlist-link {
    margin-bottom: .5em;
  }
}

.exclusions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  select {
    width: 100%;
  }

  input[type='submit'] {
    width: 100%;
  }
}