.form_container {
  background-color: #fff;
  width: 100%;
  max-width: 715px;
  padding: 40px 20px 20px 20px;
  margin: auto;
  /*box-shadow: #A8D3CB 15px 15px;*/
}

.form_container .fields_container {
  position: relative;
  width: 100%;
}

.fields_container input:not([type=submit]), textarea {
  border-radius: 0;
  width: 100%;
  resize: none;
}

.fields_container table {
  width: 100%;
}

.event_max_spend:before, .item_price:before {
  content: '$';
  padding: 10px 10px;
  color: $inactive_color;
}

.form_container .fields_container input#event_max_spend, input#item_price {
  border-radius: 0;
  width: 100%;
  padding-left: 25px;
}

.form_container .fields_container input[type=submit] {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.form_container .error {
  color: #F2473F;
  display: flex;
  justify-content: center;
}

input:not([type=submit]), textarea {
  background-color: $background_color;
  border: none;
}

input:not([type=submit]):focus, textarea:focus {
  border: none;
}

input[type=submit].button-primary {
  background-color: $action_primary;
  border: none;
  border-radius: 0;
  height: 4em;
}

input[type=submit].button-primary:hover {
  background-color: $action_secondary;
}

.subheader {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
}

.sign_in_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -199px;
}

.sign_in {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
  margin: 0 auto;
  width: 80%;
  height: 338px;
  width: 338px;
  text-align: center;
}

.sign_in_container input {
  width: 100%;
}

.sign_in_container span a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
}

.sign_in_container span:nth-of-type(1) {
  float: left;
}

.sign_in_container span:nth-of-type(2) {
  float: right;
}

.tabled_view {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fcfcfc;
  overflow: auto;
}

.image_url_preview {
  display: flex;
  margin-bottom: 15px;
}

.image_url_preview_image {
  display: flex;
  justify-content: flex-start;
  max-height: 150px;
  width: 75%;
}

.image_url_preview img {
  object-fit: scale-down;
  object-position: 0 0;
}

::-webkit-input-placeholder {
   color: $inactive_color;
   font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
   color: $inactive_color;
   font-weight: 100;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $inactive_color;
   font-weight: 100;
}

:-ms-input-placeholder {
   color: $inactive_color;
   font-weight: 100;
}
