.form_container {
  background-color: #fff;
  width: 100%;
  padding: 40px 20px 20px 20px;
  margin: auto;
  /*border: 1px solid #e6e6e6;*/
  box-shadow: #A8D3CB 15px 15px;
}

.form_container .fields_container {
  position: relative;
  width: 100%;
}

.form_container .fields_container input[type=text], input[type=url], textarea {
  border-radius: 0;
  width: 100%;
  resize: none;
}

.form_container .fields_container .event_max_spend, .item_price, .user_email {
  width: 60%;
  display: inline-block;
}

.form_container .fields_container input#event_max_spend, input#item_price {
  border-radius: 0;
  width: 100%;
}

.form_container .fields_container input[type=submit] {
  display: inline-block;
  float: right;
}

input:not([type=submit]), textarea {
  background-color: $background_color;
  border: none;
}

input:not([type=submit]):focus, textarea:focus {
  border: none;
}

input[type=submit].button-primary {
  background-color: $action_primary;
  border: none;
  border-radius: 0;
}

input[type=submit].button-primary:hover {
  background-color: #0fd581;
}
::-webkit-input-placeholder {
   color: #d3d3d3;
   font-weight: 100;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d3d3d3;
   font-weight: 100;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d3d3d3;
   font-weight: 100;  
}

:-ms-input-placeholder {  
   color: #d3d3d3;
   font-weight: 100;  
}