table tr.partner-row {
  background-color: #F8CA00;
}

.user-card {
  margin-right: 10px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.event-participants {
  @media (max-width: 767px) {
    text-align: center;
  }
}