table tr.partner-row {
  background-color: #F8CA00;
}

.user-card {
  margin-right: 10px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.event-participants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.event-participants .actions {
  display: flex;
}

.event-participants .users {
  display: flex;
  flex-wrap: wrap;
}