.wishlist-items {
  display: flex;
  flex-wrap: wrap;
}

.wishlist-item {
  display: flex;
  flex-direction: column;
  margin-right: 25px;

  @media (max-width: 629px) {
    margin-right: 0;
  }
}

.mark-as-purchased {
  margin: auto;

  span {
    display: flex;
    align-items: center;

    label {
      margin: 0 0 .5em .5em;
      width: 100%;
    }

    input[type='checkbox'] {
      margin-bottom: .5em;
    }
  }
}

@media (max-width: 629px) {
  #wishlist {
    text-align: center;
  }
  
  .wishlist-item {
    margin: auto;
    padding: 15px 0;
  }
}