    <div class='three columns card'>
      <%= link_to new_event_path(wishlist_id: params[:id]) do %>
      <div class='primary'>
        <span class='no_image'><%= content_tag(:i, nil, class: 'fa fa-plus-circle fa-10x') %></span>
      </div>
      <div class='secondary'>
        <p>Add Event</p>
        <p class='hint'>Add a new event.</p>
      </div>
      <% end %>
    </div>
