<div id='events'>
  <h2><%= @event.name %></h2>
  <div class='event_details'>
    <div class='event_details_card ev_desc'>
      <div class='event_details_icon'>
        <i class='fa fa-info-circle fa-3x'></i>
      </div>
      <div class='event_details_info'>
        <p class='title'>Event Description</p>
        <p><%= @event.description %></p>
      </div>
    </div>

    <div class='event_details_card ev_users'>
      <div class='event_details_icon'>
        <i class='fa fa-user fa-3x'></i>
      </div>
      <div class='event_details_info'>
        <p class='title'>Your Partner</p>
        <p>Some dude</p>
      </div>
    </div>

    <div class='event_details_card ev_date'>
      <div class='event_details_icon'>
        <i class='fa fa-calendar fa-3x'></i>
      </div>
      <div class='event_details_info'>
        <p class='title'>Event Date</p>
        <p><%= @event.date.strftime('%m/%d') %></p>
      </div>
    </div>

    <div class='event_details_card ev_max'>
      <div class='event_details_icon'>
        <i class='fa fa-money fa-3x'></i>
      </div>
      <div class='event_details_info'>
        <p class='title'>Max Spend</p>
        <p><%= number_to_currency @event.max_spend, precision: 0 %></p>
      </div>
    </div>
  </div>
</div>
