<div class='sign_in_container'>
  <div class='sign_in'>
    <%= image_tag 'swap-thing-logo.svg' %>
    <p class='hint'>Enter your email address</p>
    <%= simple_form_for(:user, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.input :email, label: false, placeholder: 'Email', autofocus: true %>
      <%= f.submit "Reset Password", class: 'button-primary' %>
    <% end %>
  </div>
</div>