<h2>Add Item</h2>
<div class='twelve columns form_container'>
  <div class='fields_container'>
    <%= react_component('NewItemForm', { user_id: @user.id, wishlist_id: @wishlist_id }) %>
  </div>
</div>
