<div class='three columns card'>
  <%= link_to new_user_wishlist_item_path(wishlist_id: params[:id]) do %>
    <div class='primary'>
      <span class='no_image'><%= content_tag(:i, nil, class: 'fa fa-plus-circle fa-10x') %></span>
    </div>
    <div class='secondary'>
      <span>Add Item</span>
      <p class='hint'>Add a new item to your wishlist.</p>
    </div>
  <% end %>
</div>