<h2>
  <%= "#{@wishlist.user.full_name}'s Wishlist" %>
</h2>

<%= @wishlist.show_reminder? %>

<%= react_component('WishlistItems', 
  props: {
    authenticityToken: form_authenticity_token,
    items: @wishlist_items,
    isOwner: params[:user_id].present?,
    wishlistId: @wishlist.id,
    userId: current_user.id
  }) 
%>
