<div class='page-not-found'>
  <div>
    <h2>404: Page not found</h2>
    <img src='https://media.giphy.com/media/3ohA30XvreL1mQjooE/giphy.gif' />
  </div>

  <%= link_to 'Previous page', :back %>
</div>