<ul class='mobile-menu'>
  <li class='mobile-menu-item'><%= link_to 'Events', '#' %></li>
  <li class='mobile-menu-item'><%= link_to 'My Wishlist', '#' %></li>
  <li class='mobile-menu-item'><%= link_to 'Sign Out', '#' %></li>
</ul>